/* début DASHBOARDUSER */
.accueil {
    margin: 0 auto;
    margin-top: 90px;
    width: 30%;
    height: auto;
    background-color: aliceblue;
    border: solid black 1px;
    border-radius: 5px;
  }
  
  .bonjour {
    text-align: center;
    font-family: "Roboto", cursive;
    color: rgb(16, 3, 128);
    font-size: 3rem;
  }
  
  .fiche {
    border: solid black 2px;
    background-color: aliceblue;
    margin-top: 20px;
    margin: 2rem auto;
    width: 40%;
    height: auto;
    border-radius: 10px / 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    /*position: relative;*/
    font-family: "Quando", serif;
    line-height: 25px;
    font-size: 1.5rem;
    word-wrap: break-word;
  }
  
  @media all and (max-width: 840px) {
    .fiche {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  
  .vignetteproduit {
    height: 200px;
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
  }
  
  .titreproduit {
    font-family: "Quando", serif;
    font-size: 2rem;
    margin-top: 20px;
  }
  
  .prix {
    font-size: 1.7rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .bouton {
    margin-bottom: 10px;
    display: block;
    /*éléments block :
    h1..., div, p, section, header, footer 
    
    éléments inline :
    img, span, a, button*/
    width: 120px;
    height: 30px;
    background-color: rgb(250, 136, 43);
    border-radius: 10px;
  }
  
  .bouton a {
    text-decoration: none;
    color: black;
  }
  
  .bouton:hover {
    opacity: 0.7;
    animation: ease voile 1s;
    transform: scale(1.1, 1.1);
  }
  
  /* début LIEN AJOUT PRODUIT */
  .ajoutProduit {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 380px;
    height: 100px;
    border-radius: 30px / 30px;
    background-size: cover;
    border: solid black 1px;
    background-color: aliceblue;
    line-height: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    font-family: "Quando", serif;
    font-size: 1.5rem;
    width: 320px;
  }
  /* fin LIEN AJOUT PRODUIT */
  /* fin DASHBOARDUSER */
  